# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# AI
MISTRAL_API_KEY=
CEREBRAS_API_KEY=

# Tools
TAVILY_API_KEY=
SIRENE_API_TOKEN=

# DB
DATABASE_PATH=./data/hack.db

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
